.page-header
  %h2
    Bucket List - Part 1
  %p Bucket List is an application that allows users to keep a list what they want to do in life (e.g. "Buckets").  Users can enter intermediate "steps" under each Bucket that would help them achieve their goals.
%h3 User should be able to...
%h3 Feature 1.0 - Verify versions
:ruby
  code = <<-HEREDOC
  ruby -v
  rails -v
  HEREDOC
= tutorial_for("plain", "Check that ruby = 1.9.3 and rails = 3.2.15", code)
.alert.alert-success Consider using http://nitrous.io if your ruby version is below 1.9.3, for rails version run "gem install rails --version=3.2.15".

%h3 Feature 1.1 - View a list of their Bucket Lists
:ruby
  code = <<-HEREDOC
  rails _3.2.15_ new bucket_list --skip-test-unit
  cd bucket_list
  rails generate resource List name:string reason:string
  rake db:migrate
  rails server
  HEREDOC
= tutorial_for("plain", "Create a new Rails Project", code)
.alert.alert-success Coaches, give quick explanation about what each command does.

= action_for("Visit in your browser <code>http://localhost:3000</code>", "This is the default Rails landing page.  Let's try removing it and see what happens...")

= action_for("Delete the file <code>public/index.html</code> and re-visit <code>http://localhost:3000</code>", " Now what do you see?")

.alert.alert-success Coaches, explain why removing public created an error and how we are going to solve this by modifying rails routes.

:ruby
  code = <<-HEREDOC
    BucketList::Application.routes.draw do

      resources :lists

      root :to => 'lists#index'

      # The priority is based upon order of creation:
      # first created -> highest priority.
      ...
  HEREDOC
= tutorial_for("ruby", "Open <code>config/routes.rb</code>: Create a route to the index page", code, [5])


:ruby
  code = <<-HEREDOC
    class ListsController < ApplicationController
      def index
       @lists = List.all
      end
    end
    HEREDOC
= tutorial_for("ruby","Open <code>app/controllers/lists_controller.rb</code>: Create an index action in the ListsController", code, [2, 3, 4])

:ruby
  code = <<-HEREDOC
  <h2>Bucket Lists</h2>

  <% @lists.each do |single__list| %>
    <%= single_list.name %> -
    <%= single_list.reason %>
    <br />
  <% end %>
  HEREDOC
= tutorial_for("ruby","Create <code>app/views/lists/index.html.erb</code>: Create an index view", code, [*1..7])

= action_for("Restart the Rails Server", "Since we modified the routes, we have to restart the server.")
= action_for("Visit <code>http://localhost:3000</code>", "Try visiting the page again.  It should only have the text 'Bucket Lists' but no lists because haven't created any yet.")

:ruby
  code = <<-HEREDOC
  rails console
  x = List.new
  x.name = "Learn Ruby"
  x.reason = "I want to create cool webapps"
  x.save
  exit
  HEREDOC
= tutorial_for("plain","Create some Lists", code)

= action_for("Visit <code>http://localhost:3000</code>", "You should now see your newly created List.  If you don't, please ask your coach for some help.")

%h3 Feature 1.2 - Create Bucket Lists using a form on the site

:ruby
  code = <<-HEREDOC
  class ListsController < ApplicationController
    def index
     @lists = List.all
    end

    def new
      @list = List.new
    end

    def create
      @list = List.new(params[:list])
      if @list.save
        redirect_to lists_url
      else
        render action: "new"
      end
    end
  end
  HEREDOC
= tutorial_for("ruby","Open <code>app/controllers/lists_controller.rb</code>, add the <strong>new</strong> and <strong>create</strong> actions in the controller.", code, [*5..17])

:ruby
  code = <<-HEREDOC
  <h2>Create New Bucket List</h2>
  <%= form_for @list do |form| %>
    <div>
      <%= form.label :name %><br />
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :reason %><br />
      <%= form.text_field :reason %>
    </div>

    <p><%= form.submit %></p>
  <% end %>
  HEREDOC
= tutorial_for("ruby","Create <code>app/views/lists/new.html.erb</code>, create a form for users to create a new List", code, [*1..14])

= action_for("Visit <code>http://localhost:3000/lists/new</code>", "This is the new form you just created!  Try creating a few Lists from this web form.")

%h3 Feature 1.3 - Edit Bucket Lists from a form

:ruby
  code = <<-HEREDOC
  class ListsController < ApplicationController
    def index
     @lists = List.all
    end

    def new
      @list = List.new
    end

    def create
      @list = List.new(params[:list])
      if @list.save
        redirect_to lists_url
      else
        render action: "new"
      end
    end

    def edit
      @list = List.find(params[:id])
    end

    def update
      @list = List.find(params[:id])

      if @list.update_attributes(params[:list])
        redirect_to lists_path
      else
        render action: "edit"
      end
    end
  end
  HEREDOC
= tutorial_for("ruby","Open <code>app/controllers/lists_controller.rb</code>, add an <strong>edit</strong> and <strong>update</strong> action.", code, [*18..31])

:ruby
  code = <<-HEREDOC
  <h2>Edit <%= @list.name %></h2>

  <%= form_for @list do |form| %>
    <div>
      <%= form.label :name %><br />
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :reason %><br />
      <%= form.text_field :reason %>
    </div>

    <p><%= form.submit %></p>
  <% end %>
  HEREDOC
= tutorial_for("ruby","Create <code>app/views/lists/edit.html.erb</code>, write html/erb for a form to edit a List", code, [*1..15])


:ruby
  code = <<-HEREDOC
  <h2>Bucket Lists</h2>

  <% @lists.each do |single_list| %>
    <%= single_list.name %> -
    <%= single_list.reason %> |
    <%= link_to "Edit", edit_list_path(single_list) %>
    <br />
  <% end %>
  HEREDOC
= tutorial_for("ruby","Open <code>app/views/lists/index.html.erb</code>, add a link to the Edit page for a List inside the @lists.each block", code, [6])


= action_for("Visit <code>http://localhost:3000</code>", "Click on the Edit link for a Bucket List.  You should be able to update your list.  If you can't, please ask your coach for some help.")

%h3 Feature 1.4 - View each Bucket List separately on its own page

:ruby
  code = <<-HEREDOC
  class ListsController < ApplicationController
    def index
     @lists = List.all
    end

    def new
      @list = List.new
    end

    def create
      @list = List.new(params[:list])
      if @list.save
        redirect_to lists_url
      else
        render action: "new"
      end
    end

    def edit
      @list = List.find(params[:id])
    end

    def update
      @list = List.find(params[:id])

      if @list.update_attributes(params[:list])
        redirect_to lists_path
      else
        render action: "edit"
      end
    end

    def show
      @list = List.find(params[:id])
    end
  end
  HEREDOC
= tutorial_for("ruby","Open <code>app/controllers/lists_controller.rb</code>, add a show action.", code, [*33..35])

:ruby
  code = <<-HEREDOC
  <h2><%= @list.name %></h2>
  <p><%= @list.reason %></p>
  HEREDOC
= tutorial_for("ruby","Create <code>app/views/lists/show.html.erb</code>, write html/erb code to show List information.", code, [*1..2])

:ruby
  code = <<-HEREDOC
  <h2>Bucket Lists</h2>

  <% @lists.each do |single_list| %>
    <%= link_to single_list.name, list_path(single_list) %> -
    <%= single_list.reason %> |
    <%= link_to "Edit", edit_list_path(single_list) %>
    <br />
  <% end %>
  HEREDOC
= tutorial_for("ruby","Open <code>app/views/lists/index.html.erb</code>, change each List name into a link to its show page.", code, [4])

= action_for("Visit <code>http://localhost:3000</code>", "Click on the name of an individual Bucket List.  You should be able to see a page of just that Bucket List.")

%h3 Feature 1.5 - Delete Bucket Lists

:ruby
  code = <<-HEREDOC
  class ListsController < ApplicationController
    def index
     @lists = List.all
    end

    def new
      @list = List.new
    end

    def create
      @list = List.new(params[:list])
      if @list.save
        redirect_to lists_url
      else
        render action: "new"
      end
    end

    def edit
      @list = List.find(params[:id])
    end

    def update
      @list = List.find(params[:id])

      if @list.update_attributes(params[:list])
        redirect_to lists_path
      else
        render action: "edit"
      end
    end

    def show
      @list = List.find(params[:id])
    end

    def destroy
      @list = List.find(params[:id])
      @list.destroy
      redirect_to lists_url
    end
  end
  HEREDOC
= tutorial_for("ruby","Open <code>app/controllers/lists_controller.rb</code>, add a destroy action.", code, [*36..41])

:ruby
  code = <<-HEREDOC
  <h2>Bucket Lists</h2>

  <% @lists.each do |single_list| %>
    <%= link_to single_list.name, list_path(single_list) %> -
    <%= single_list.reason %> |
    <%= link_to "Edit", edit_list_path(single_list) %>
    <%= link_to 'Destroy', single_list, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br />
  HEREDOC
= tutorial_for("ruby","Open <code>app/views/lists/index.html.erb</code>, add a link to the Destroy action for each list", code, [7])



.alert.alert-success 
  Coaches, if there is time left over in this session, try some of the following:
  %ul
    %ol Add Flash messages for actions, such as un/successfully adding, updating, deleting, etc (<a href="http://guides.rubyonrails.org/action_controller_overview.html#the-flash" target="new">Flash Messages</a>).
    %ol Add model validations (<a href="http://guides.rubyonrails.org/active_record_validations_callbacks.html#validation-helpers" target="new">Validation Helpers</a>).
    %ol Extract the forms into a partial (<a href="http://guides.rubyonrails.org/layouts_and_rendering.html#using-partials" target="new">Using Partials</a>)
