.page-header
  %h2
    Part 3 - Upload Site
    %small Note: all Part 3's are the same

%h3 Uploading your site to Heroku
%p
  Because you probably don't have the postgres database server installed on your development system, it is recommended that you configure your system to use sqlite3 locally, and Postgres on Heroku.
  To do this, make the following changes:

:ruby
  code = <<-HEREDOC
  ...
  gem 'sqlite3'
  ...
  HEREDOC
= tutorial_for("ruby","Open <code>Gemfile</code>, add remove this line", code, [2])

:ruby
  code = <<-HEREDOC
  ...
  group :development, :test do
    gem 'sqlite3'
  end
  group :production do
    gem 'pg'
  end
  ...
  HEREDOC
= tutorial_for("ruby","Open <code>Gemfile</code>, add add these lines", code, [*2..7])

:ruby
  code = <<-HEREDOC
  bundle install --without production
  HEREDOC
= tutorial_for("plain","Install the gems, but don't install postgres", code)

= action_for("Setting up Heroku", "Follow the steps in <a href='https://devcenter.heroku.com/articles/quickstart'>https://devcenter.heroku.com/articles/quickstart</a>.")

= action_for("Deploy Rails Site to Heroku", "Follow the steps under <strong>Deploy to Heroku</strong> in <a href='https://devcenter.heroku.com/articles/rails3'>https://devcenter.heroku.com/articles/rails3</a>.")
.alert.alert-error Coaches, explain to your participants why the sample data that they have on their local machine doesn't appear on the postgres server. Explain database migrations and the different between schema and data.

= action_for("Rename your site to something rememberable/shareable", "Follow the steps under <strong>Renaming Apps</strong> in <a href='https://devcenter.heroku.com/articles/renaming-apps'>https://devcenter.heroku.com/articles/renaming-apps</a>.")

= action_for("Add Facebook Like Button", "Follow the instructions in <a href='https://developers.facebook.com/docs/reference/plugins/like/'>https://developers.facebook.com/docs/reference/plugins/like/</a> to add a Facebook Like button to your webapp.")

= action_for("Add Twitter Button", "Follow the instructions in <a href='http://twitter.com/about/resources/buttons'>http://twitter.com/about/resources/buttons</a> to add a Twitter button to your webapp.")

= action_for("Continue styling using Twitter Bootstrap", "Remember, you are showcasing your app at the end of this Rails Girls event!  Tweak it up with <a href='http://getbootstrap.com/' target='new'>http://getbootstrap.com/</a>!")
