.page-header
  %h2
    Part 3 - Upload Site
    %small Note: all Part 3's are the same

= action_for("Setting up Heroku", "Follow the steps in <a href='https://devcenter.heroku.com/articles/quickstart'>https://devcenter.heroku.com/articles/quickstart</a>.")

.alert.alert-error Coaches, if your participant does not have postgres install, please see section <a href="Use SQLite Locally and PostgreSQL on Heroku">Use SQLite Locally and PostgreSQL on Heroku</a>
= action_for("Deploy Rails Site to Heroku", "Follow the steps under <strong>Deploy to Heroku</strong> in <a href='https://devcenter.heroku.com/articles/rails3'>https://devcenter.heroku.com/articles/rails3</a>.")

= action_for("Add Facebook Like Button", "Follow the instructions in <a href='https://developers.facebook.com/docs/reference/plugins/like/'>https://developers.facebook.com/docs/reference/plugins/like/</a> to add a Facebook Like button to your webapp.")

= action_for("Add Twitter Button", "Follow the instructions in <a href='http://twitter.com/about/resources/buttons'>http://twitter.com/about/resources/buttons</a> to add a Twitter button to your webapp.")

= action_for("Continue styling using Twitter Bootstrap", "Remember, you are showcasing your app at the end of this Rails Girls event!  Tweak it up with <a href='http://twitter.github.com/bootstrap/' target='new'>http://twitter.github.com/bootstrap/</a>!")
